ontology EnglishAuction
    action QUIT
    action startAuction(text0 as text)
    proposition interested
    predicate initialPrice(integer0 as integer)
    action addToPrice(integer1 as integer)
    action noBid
    predicate nextPrice(integer2 as integer)
    action endAuction
    action communicateWinner(text1 as text)
    proposition auctioneerHello
