/.MyDslGenerator.java._trace
/.MyDslGenerator.xtendbin
/MyDslGenerator.java
/.LocalGenerator.java._trace
/.JadescriptGenerator.java._trace
/.JadescriptGenerator.xtendbin
/.LocalGenerator.xtendbin
/JadescriptGenerator.java
/LocalGenerator.java
