ontology myBrokering
	action QUIT
	predicate proxyJ(text0 as text)
	action refuseJ
	action stopJ
	action agreeJ
	action notPossible
	action canDo
	action sendMore
	proposition failNoMatch
	proposition foundMatches
	proposition noMoreData
	proposition someError
	proposition failBrokering
	action addData(text1 as text)
	action replyFromSubagents(text2 as text)
	action findAgent(text3 as text)
	action continueJ
	proposition brokerHello
